html {
    overflow-x: scroll;
} 


.bg-test{
    background-color: lightblue;
}

.columns{
    margin-top: 2em;
}

.row{
    display:flex;
    flex-direction: row;
}

.content-text{
    size: 1em;
}


.moderate {
    background-color: yellow;
}

.favorable {
    background-color: green;
}

.severe {
    background-color: red;
}