html {
    overflow-x: scroll;
} 


.bg-test{
    background-color: lightblue;
}

.columns{
    margin-top: 2em;
}

.row{
    display:flex;
    flex-direction: row;
}

.float{
    float:left;
}
.content-text{
    size: 1em;
}

.moderate {
    background-color: yellow;
}

.favorable {
    background-color: green;
}

.severe {
    background-color: red;
}

.search-history {
    font-weight: bold;
}

.uvSymbol {
    margin: 0em 10px;
}